html {
  font-size: 16px;
  background-image: url("img/BG.png");
  background-color: rgb(219, 255, 227);
}
body {
  font-family: sans-serif;
}
#app {
  background-image: url("img/BG.png");
  background-color: rgb(219, 255, 227);
}
#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#areana {
  display: flex;
  align-content: stretch;
}

#user {
  text-align: center;
  width: 35%;
  padding: 1rem;
  margin: 1rem;

  background-color: blue;
  border: 2px black;
  border-radius: 2rem;
}

#vs {
  align-self: center;
}

#computer {
  text-align: center;
  width: 35%;
  padding: 1rem;
  margin: 1rem;

  background-color: blue;
  border: 2px black;
  border-radius: 2rem;
}

#results {
  text-align: center;
  width: 35%;
  padding: 1rem;
  margin: 1rem;

  border: 2px black;
  border-radius: 2rem;
}
